# Config files
*.ini
!example.ini
.env
.env.local
!.env.example

# Idea
.idea

# Python
*.pyc
**/__pycache__/*
env
dist
build
**/*egg-info
.DS_store

# TypeScript
node_modules
*.lock
.yarn

# Runtime
postgres_data
