# Config files
*.ini
!.env.example
!bolmate-base-core/mypy.ini

# Idea
.idea

# Python
*.pyc
**/__pycache__/*
.env
.env.local
venv
env
dist
build
**/*egg-info
.DS_store

# TypeScript / Node
node_modules
.yarn
